html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background: linear-gradient(180deg, rgba(114,110,255,1) 20%, rgba(90,255,231,1) 40%, rgba(8,198,171,1) 60%, rgba(55,70,91,1) 80%, rgba(33,43,56,1) 100%);
}

#prueba{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(114,110,255,1) 20%, rgba(90,255,231,1) 40%, rgba(8,198,171,1) 60%, rgba(55,70,91,1) 80%, rgba(33,43,56,1) 100%);
}