@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
#page{
    height: 100%;
}
ul {
    padding: 0;
    width: 100%;
  }
  
  :root {
    --colorP: rgba(24, 119, 242, 1);
  }
  /* li {
    display: inline;
  } */
  
  a {outline: none; text-decoration: none; display: inline-block; width: 100%; margin-right: 0.625%; text-align: center; color: black;
  }
  
  li:last-child a { margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
  }
  
  a:hover { background: rgba(65, 255, 245, 0.1);
  }
  
  a:active { background: darkturquoise; color: white;
  }

/* ABRIR LOGIN
––––––––––––––––––––––––––––––––––––––––––––––––––*/

#closeLogin{
    position: absolute;
    background-color: rgb(199, 1, 1);
    text-size-adjust: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    left: 69%;
    top: 29%;
}

#aceptarLogin{
    position: absolute;
    background-color: var(--colorP);
    text-size-adjust: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    left: 35%;
}

#openLogin{
    background-color: var(--colorP);
    position: relative;
    left: 25px;
    top: 15%;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}
.loginContenedor{
    z-index: 1;
    opacity: 0;
    display: flex;
    background-color: rgb(105,105,105, 0.6);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 200ms linear;
}

.mostrar{
    pointer-events: auto;
    opacity: 1 !important;

}

.ocultarlogin{
    pointer-events: auto;
    opacity: 0;
}
.login{
    background-color: white;
    width: 600px;
    height: 300px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
}


.robotLogin{
    position: absolute;
    top: 30%;
    left: 48%;
    border-color: 5px solid white;
    display: block;
    height: 300px;
    width: 300px;
}

.cuentaReg{
    cursor: pointer;
    top: 61%;
}

.cuentaReg:hover {
    color: var(--colorP);
    text-shadow: 0 0 2px white;
}
.login h1 {
    position: relative;
    margin: 0;
    left: 10%;
}

.login p {
    left: 32%;
    position: absolute;
    opacity: 0.7;
    font-size: 14px;
}

#datosRegistro{
    display: none;
}

.volverAtras{
    position: relative;
    font-size: 40px;
    color: rgb(199, 1, 1);
    top: 55px;
    left: -30px;
    cursor: pointer;
}

.volverAtras:hover {
    text-shadow: 0 0 2px var(--colorP);
}
#aceptarRegistro{
    position: absolute;
    background-color: var(--colorP);
    text-size-adjust: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    left: 35%;
}

.publicaciones:hover{
    box-shadow: 0 3px 3px 3px rgba(65, 255, 245, 0.1);
}
.toggle-btn:hover {
    box-shadow: 0 3px 3px 3px rgba(65, 255, 245, 0.2);
}
#closeLogin:hover{
    box-shadow: 0 3px 3px 3px rgba(255, 0, 0, 0.2);
}
#openLogin:hover{
    box-shadow: 0 3px 3px 3px rgba(65, 255, 245, 0.2);
}
.login input:hover {
    box-shadow: 0 3px 3px 3px rgba(65, 255, 245, 0.2);
}

.login input:focus {
    box-shadow: 0 3px 3px 3px rgba(65, 255, 245, 0.2);
}
.login input {
    
    margin: 2%;
}
/* CERRAR LOGIN
––––––––––––––––––––––––––––––––––––––––––––––––––*/


/* ABRIR BARRA-LATERAL
––––––––––––––––––––––––––––––––––––––––––––––––––*/


#BarraLateral{
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    background-color:  rgba(250, 250, 250, 1);
    box-shadow: 0px 1px 5px #707070;
    left: -205px;
    transition: all 500ms linear;
}

#BarraLateral.active{
    left: 0;
}
#BarraLateral ul li{
    color: rgba(1, 1, 1, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid white;
    text-align: center;
}

#BarraLateral .btn-cerrar{
    color: black;
    height: 30px;
    width: 30px;
    float: right;
    cursor: pointer;
}
#iconoMenu{
    position: absolute;
    right: auto;
    left: 5px;
    top: 25%;
    height: 15px;
    width: 15px;
    cursor: pointer;
    background-image: url("imagenes/menu.png");
    background-repeat: no-repeat;
    background-size: contain; 
} 

.logoBarra {
    background-color: var(--colorP);
    border-radius: 50%;
    border-color: 5px solid white;
    display: block;
    height: 50px;
    width: 50px;
  }

.imgBarra{
    width: 30px;
    height: 30px;
}
.btn-barra{
    background-color: white;
    text-size-adjust: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    top: 90%;
    cursor: pointer;
}

.boton{
    position: relative;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    cursor: pointer;
}
/* CERRAR BARRA-LATERAL
––––––––––––––––––––––––––––––––––––––––––––––––––*/



*{
    transition: 150ms ease all;
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
}
h1,h3{
    margin-top: 0px; 
    margin-right: 0px;
}
p{
    margin-top: 0px; 
    margin-right: 0px;
}
.fila{
    width: 100%;
}























































@media only screen and (min-width: 769px) {

/* ABRIR ENCABEZADO
––––––––––––––––––––––––––––––––––––––––––––––––––*/

#encabezado{
    overflow: hidden;
    position: relative;
    height: 8%;
    width: 100%;
    background-color: var(--colorP);
    /* background: radial-gradient(circle, rgba(255,255,255,1) 36%, rgba(238,238,238,1) 80%); */

}

.container-btn-mode{
    position: absolute;
    top:20px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    font-size:0;
  }
  .btn-mode{
    display: inline-block;
    width: 50px;
    height: 30px;
    border:2px solid black;
    transition: background-color .5s;
  }
  .btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
  }
  .btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
  }
  .btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .active{
    background-color:black;
    color:#ffffff !important;
  }
  
.dark-mode{transition:background-color .5s;
  }
.dark-mode .btn-mode{
    background-color:#1A1C1E;
    border:1px solid white;
    color:white;
}

.dark-mode p{color: white;}
.dark-mode #encabezado{background-color: rgb(2, 36, 80);
}
.dark-mode #barra{background-color: rgb(78, 78, 78);
}
.dark-mode #pie{  background-color: rgb(78, 78, 78);
}
.dark-mode #contenedorFondo{   background-color: black;
}
.dark-mode .buscar input{  background-color: rgb(53, 52, 52);
}
.dark-mode #barraContenido{  background:  rgba(255, 255, 255, 0.5);
}
.dark-mode #BarraLateral{  background:  rgb(78, 78, 78);
}
.dark-mode #BarraLateral p{  color: black;
}
.dark-mode a:link, a:visited .boton{  background-color: rgba(255, 255, 255, 0.5);
}
.dark-mode .logo{background-color: black;
}
.dark-mode #red{ stroke:rgb(126, 126, 126);
}
.dark-mode #light-blue{ stroke: whitesmoke;
}
.dark-mode #blue{ stroke: rgb(2, 36, 80);
}
.dark-mode .nombrePerfil{color: black;
}
.dark-mode .contenido{background-color: rgba(255, 255, 255, 0.5);
}
.dark-mode .cuadroDescPerfil{background-color: rgba(97, 97, 97, 0.8);
}
.dark-mode #contenidoTop{border-bottom: 3px solid rgba(0, 0, 0, 0.2);;
}
.dark-mode #openLogin{background-color: rgb(53, 52, 52);
}
.dark-mode #closeLogin{background-color: rgb(53, 52, 52);
}
.dark-mode .login{
    background-color: rgba(0,0,0,0.70);
}
.dark-mode .login h1{color: white;
}
.dark-mode #bordeContenido a:link{
    background-color: transparent;
}
.dark-mode .publicaciones{
   background-color: rgba(105, 105, 105, 0.3);
}
#logo{
    float: left;
    height: 100%;
    width: 80px;
    background-image: url("imagenes/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20%;

}
#meloTrabaja{
    position: relative;
    height: 100%;
    width: 33%;
    left: 33%;
    cursor: default;
    font-family: 'Acme', sans-serif;
    color: white;
    font-size: 25px;
    /*padding: 4px 119px;*/
}

#meloTrabaja h1{
    font-weight: bolder;
    padding-top: 4px;
    display: inline-block;
    left: 0px;
}

/* CERRAR ENCABEZADO
––––––––––––––––––––––––––––––––––––––––––––––––––*/




/* ABRIR BARRA
––––––––––––––––––––––––––––––––––––––––––––––––––*/
#barra{
    overflow: hidden;
    background-color: #F8F8FF;
    position: relative;
    height: 5%;
    /* border-top: 2px solid gray;
    border-bottom: 2px solid gray; */
    box-shadow: 0px 1px 5px #999;
}


/* CERRAR BARRA
–––––––––––––––––––––––––––––––––––––––––––––––––– */




                                    
/* ABRIR CONTENIDO
––––––––––––––––––––––––––––––––––––––––––––––––––*/                                    
#contenido{

    overflow: hidden;
    height: 83%;
    box-shadow: 0px -1px 5px #999;
    /* background-image: url("imagenes/fondo1.png"); */
}

#bordeContenido {
    z-index: 1;
    position: relative;
    left: 2%;
    width: 95%; 
    height: 90%;
    top: 5%;
    border: 2px solid rgba(0,0,0,0.1); 
    background-color: rgba(250, 250, 250, 0.5);
    /* background-image: url("imagenes/1pxblanco090.png"); */
    box-shadow: 0px 2px 5px #f7f7f7;
    
}

.separacionContenido{
    position: relative;
    width: 100%;
    height: 50%;
    /*border-bottom: 1px solid black;*/
    overflow-y: scroll;
}

#contenidoTop{
    border-bottom: 3px solid #f7f7f7;
}

.publicaciones{
    background-color: rgba(24, 119, 242, 0.05);
    height: 15%;
    width: 99.5%;
    margin-top: 8px;
    border: 0.5px solid rgba(0,0,0,0.30);
    box-shadow: 0px 0.2px 5px #999;
}


.publicaciones h1,h2,h3{
    background-color: rgba(139, 139, 139, 0.1);
    color: black;
    font-size: 15px!important;
    font-weight: 1!important;
    font-family: 'Acme', sans-serif;
}

.publicaciones p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo{
    font-size: 50px;
    position: relative;
    float: left;
    left: 50px;
    color: black;
    font-size: 90%;
}
.nombreuser{
    position: absolute;
    left: 50px;
    top: 19px;
    color: #A9A9A9;
    font-size: 80%;
}
.fecha{
    position: relative;
    float: right;
    right: 5px;
    top: 19px;
    color: #A9A9A9;
    font-size: 80%;
}

.foto_usuario{
    width: 44px;
    height: 44px;
    border-radius: 40px;
    border: 1px solid black;
}
.fijadas{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.recientes{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
/* CERRAR CONTENIDO
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* ABRIR PIE
––––––––––––––––––––––––––––––––––––––––––––––––––*/
#pie{
    background-color: #eeeeee;
    height: 4%;
}
/* CERRAR PIE
––––––––––––––––––––––––––––––––––––––––––––––––––*/



}




.buscar{
    top: -12%;
    left: 81%;
    position: absolute;
    padding: 5px;

}

.buscar input{
    border: none;
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    color: black;
    outline: none;
    border-radius: 30px;
}

.buscar input:hover{
    box-shadow: 0 3px 3px 3px rgba(65, 255, 245, 0.1);
}

.buscar input:focus{
        box-shadow: 0 3px 3px 3px rgba(65, 255, 245, 0.1);
}
.btn{
    border-color: transparent;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-align: center;
    right: 0;
    top: 0;
    position: absolute;
    width: 52px;
    height: 40px;
    line-height: 55px;
}

.buscar:hover input{
    width: 240px;
    
}

.buscar input:focus{
    width: 240px;
}
#iconoLupa{

    width: 15px;

}




@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

















#contenedorFondo{
    z-index: 0;
    position: relative;
    top: -110%;
}

#home {
    clip-path: url(#cache);
  }
  
  #red {
    fill: none;
    opacity: 0.15;
    stroke: darkturquoise;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
  }
  
  #blue {
    fill: none;
    opacity: 0.15;
    stroke: var(--colorP);
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  #light-blue {
    fill: none;
    opacity: 0.15;
    stroke: var(--colorP);
    stroke-width: 6;
    stroke-miterlimit:10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
   }
      }
  
  @keyframes show {
    0% {
      opacity: 0.15;
   }
    50% {
      opacity: 0.2;
   }
    100% {
      opacity: 0.15;
   }
      }