html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
 
}
h1,p{
    margin-top: 0px; 
    margin-right: 0px;
}


.fila{
    width: 100%;
}
/* Estilo de encabezado */
#encabezado{
    position: relative;
    height: 5%;
    background-image: url("imagenes/melotrabaja.png"), radial-gradient(circle, rgba(255,255,255,1) 36%, rgba(238,238,238,1) 80%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    /* background: radial-gradient(circle, rgba(255,255,255,1) 36%, rgba(238,238,238,1) 80%); */

}

/* Estilo de barra*/
#barra{
    background-color: #eeeeee;
    position: relative;
    height: 5%;
    /* border-top: 2px solid gray;
    border-bottom: 2px solid gray; */
    box-shadow: 0px 1px 5px #999;
}
/* Estilo de hipervinculos*/
a{
    position: absolute;
    right: auto;
    left: 25px;
    top: 25%;
    font-family: serif;
    text-size-adjust: 10px;
}
/*Estilo de lupa*/
#iconoLupa{
    position: absolute;
    right: 5px;
    left: auto;
    top: 25%;
    height: 15px;
    width: 15px;
    background-image: url("imagenes/lupa.png");
    background-repeat: no-repeat;
    background-size: contain;
}
/*Estilo de menu*/
#iconoMenu{
    position: relative;
    right: auto;
    left: 5px;
    top: 25%;
    height: 15px;
    width: 15px;
    background-image: url("imagenes/menu.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Estilo del contenido*/
#contenido{
    height: 85%;
    /* border-bottom: 2px solid gray; */
    /* background-color: #f7f7f7; */
    box-shadow: 0px -1px 5px #999;
    
}

#bordeContenido {
    position: relative;
    width: 100%; 
    height: 90%;
    top: 5%;
    /* border: 0.5px solid rgba(0,0,0,0.20); */
    /* background-color: white; */
    background-image: url("imagenes/1pxblanco090.png");
    opacity: 90%;
    /* box-shadow: 0px 2px 5px #f7f7f7; */
}

.separacionContenido{
    position: relative;
    width: 100%;
    height: 50%;
    /*border-bottom: 1px solid black;*/
    
}

#contenidoTop{
    border-bottom: 3px solid #f7f7f7;
}

.publicaciones{
    height: 15%;
    width: 99.5%;
    margin-top: 8px;
    /* border: 0.5px solid rgba(0,0,0,0.20); */
    box-shadow: 0px 0.2px 5px #999;
    opacity: 100%;
    background-color: white;

}
#titulo{
    position: relative;
    float: left;
    left: 45px;
    color: #707070;
    font-size: 90%;
}
#nombreuser{
    position: absolute;
    left: 45px;
    top: 19px;
    color: #A9A9A9;
    font-size: 80%;
}
#fecha{
    position: relative;
    float: right;
    right: 5px;
    top: 19px;
    color: #A9A9A9;
    font-size: 80%;
}
#fijado{
    position: relative;
    background-image: url("imagenes/adminicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

#recientes{
    position: relative;
    background-image: url("imagenes/usuarioicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
#pie{
    background-color: #eeeeee;
    height: 5%;
}
